<body>
    <a href="/Categories/create">create</a>
    @foreach (var u in Model)
    {
        <h1>name : @u.Name     </h1>
        <p>@u.Description</p>
        <a href="Categories/details/@u.Id">details</a>
        <a href="Categories/delete/@u.Id">delete</a>
        <a href="Categories/update/@u.Id">update</a>
    }
</body>